@charset "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
table {
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
strong {
  font-weight: bold;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #444;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}

/* Custom CSS
 * --------------------------------------- */
body {
  font-family: arial, helvetica;
  color: #333;
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
}
h1 {
  font-size: 6em;
}
p {
  font-size: 2em;
}
.intro p {
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}
.section {
  text-align: center;
}
#menu li {
  display: inline-block;
  margin: 10px;
  color: #000;
  /*background: #fff;*/
  /*background: rgba(255, 255, 255, 0.5);*/
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* #menu li:last-of-type {
  margin-right: 400px;
} */
/* #menu li.active { */
/*background: #666;*/
/*background: rgba(0, 0, 0, 0.5);*/
/* color: #fff; */

#menu li a {
  text-decoration: none;
  color: white;
}
#menu li.active a:hover {
}
#menu li:hover {
  /*background: rgba(255, 255, 255, 0.8);*/
}
#menu li a,
#menu li.active a {
  padding: 9px 18px;
  display: block;
  font-size: 22px;
  position: relative;
  letter-spacing: 1px;
}
#menu li.active a {
  color: #fff;
  /* border-bottom: 2px solid white; */
}

#menu li.active a:after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 90%;
  height: 4px;
  background: linear-gradient(
    90deg,
    rgba(0, 98, 252, 1) 0%,
    rgba(139, 65, 189, 1) 71%
  );
}

#menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 70px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: right;
}
.twitter-share-button {
  position: fixed;
  z-index: 99;
  right: 149px;
  top: 9px;
}

#infoMenu {
  height: 20px;
  color: #f2f2f2;
  position: fixed;
  z-index: 70;
  bottom: 0;
  width: 100%;
  text-align: right;
  font-size: 0.9em;
  padding: 8px 0 8px 0;
}
#infoMenu ul {
  padding: 0 40px;
}
#infoMenu li a {
  display: block;
  margin: 0 22px 0 0;
  color: #333;
}
#infoMenu li a:hover {
  text-decoration: underline;
}
#infoMenu li {
  display: inline-block;
  position: relative;
}
#examplesList {
  display: none;
  background: #282828;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 20px;
  float: left;
  position: absolute;
  bottom: 29px;
  right: 0;
  width: 638px;
  text-align: left;
}
#examplesList ul {
  padding: 0;
}
#examplesList ul li {
  display: block;
  margin: 5px 0;
}
#examplesList ul li a {
  color: #bdbdbd;
  margin: 0;
}
#examplesList ul li a:hover {
  color: #f2f2f2;
}
#examplesList .column {
  float: left;
  margin: 0 20px 0 0;
}
#examplesList h3 {
  color: #f2f2f2;
  font-size: 1.2em;
  margin: 0 0 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  padding: 0 0 5px 0;
}

.attached {
  background: #20123a;
  transition: all 0.3s ease-in-out;
}

/* SEKCJA 1 */
.s1 {
  background: linear-gradient(
    90deg,
    rgba(116, 55, 201, 1) 0%,
    rgba(46, 160, 223, 1) 35%,
    rgba(82, 253, 188, 1) 100%
  );
}

/* SEKCJA 2 */
.s2 {
  position: relative;
}

.s2::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  transform-origin: top left;
  transform: skewY(-3deg);
}

.s3 {
  background: linear-gradient(
    0deg,
    rgba(203, 203, 203, 1) 0%,
    rgba(179, 179, 179, 1) 38%,
    rgba(125, 129, 127, 1) 88%
  );
}

.s3::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(203, 203, 203, 1) 0%,
    rgba(179, 179, 179, 1) 38%,
    rgba(125, 129, 127, 1) 88%
  );
  transform-origin: top left;
  transform: skewY(-3deg);
}

#fp-nav ul li a span {
  background: white !important;
}

.s4 {
  background-color: lightseagreen;
}

.s4::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: lightseagreen;
  transform-origin: top left;
  transform: skewY(-3deg);
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 20px;
  z-index: 9999999;
  display: none;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  width: 100%;
  height: 3px;
  background-color: #e4e0e0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s 0.2s ease-in-out;
}

.hamburger-inner::before,
.hamburger-inner::after {
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #e4e0e0;
  position: absolute;
  transition: transform 0.2s 0.2s ease-in-out;
}
.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  top: 10px;
}

.hamburger--active .hamburger-inner {
  background-color: transparent;
}

.hamburger--active .hamburger-inner::before {
  transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger-inner::after {
  transform: translateY(-10px) rotate(-45deg);
}

@media (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }

  #menu {
    position: absolute;
    margin-top: 70px;
    height: 40%;
    width: 100%;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s 0.1s ease-in-out;
    background-color: transparent;
  }

  .navigation--active {
    transform: translateX(0px) !important;
  }

  #menu li {
    width: 100%;
    text-align: center;
    margin: 10px auto;
    /* background-color: #ffffff; */
  }

  #menu li a {
    color: white;
  }

  #menu li.active a {
    color: white;
  }
}
/* HAMBURGER AND SIDE BAR FOR NAV */
@media (max-width: 768px) {
  #fp-nav {
    display: none;
  }
}
